.Limited-header {
  width: 40%;
  margin: auto;
  padding: 5% 0 2%;
}
.Limited-header h1 {
  color: #0b163f;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.Limited-header h5 {
  color: #575757;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.Limited-wrapper {
  background-repeat: no-repeat, repeat;
  background: linear-gradient(
    -55deg,
    #ff7675 29%,
    #d63031 29.1%,
    #d63031 68%,
    #ff7675 68.1%
  );
  padding: 5% 0 5%;
}
.Limited-container {
  width: 80%;
  margin: auto;
}
.Limited-container h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  color: #0b163f;
  padding: 10% 0 2%;
}
.Limited-container h4 {
  color: #575757;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.booknow-button {
  margin: 5% 0 5%;
}
